.modelContainer
{
	position: relative;
	width: 100%;
	height: 100%;
	font-size:12px;
	font-family:'΢���ź�';
	text-align: center;
}

.modelContainer .model_item
{
	position: relative;
	float: left;
	width: 70px;
	height: 70px;
}
.model_item .model_itemPic
{
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	border:solid 10px transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	border-style:solid;
}

.model_item .model_itemPic_selected
{
	border-color:rgba(57,172,227,1.0);
}
.model_item .model_itemDes
{
	position: relative;
	float: left;
	margin-top:-12px;
	width: 70px;
	height: 12px;
	line-height:12px;
	color:white;
	text-align:center
}

.model_item .model_itemPic:hover
{
	border-color:rgba(57,172,227,0.3);
}

.modelContainer .model_title
{
	position: relative;
	width: 100%;
	height: 30px;
}
.modelContainer .model_content
{
	position: relative;
	width: 100%;
	height:calc(100% - 30px) ;
	overflow: auto;
}

.modelContainer .model_titleItem
{
	position: relative;
	float: left;
	width: 100px;
	height: 30px;
	line-height:30px;
	color:white;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image:url(../../assets/image/tool/marktool/current_normal.png);
}
.modelContainer .model_titleItem_selected
{
	background-image:url(../../assets/image/tool/marktool/current_onclick.png);
}


.model_content .model_groupTree{
	position:relative;
	float:left;
	width:35%;
	height:100%;
	max-width:220px;
}
.model_content .model_onMapTree{
	position:relative;
	float:left;
	width:100%;
	height:calc(100% - 30px);
}

.model_content .model_groupShow{
	position:relative;
	float:left;
	width:60%;
	height:100%;
}


.model_groupShow .model_perGroupDescribe{
	position:relative;
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:10px;
	margin-bottom:2px;
	color:white;
	background-image:url(../../assets/image/tool/marktool/current_normal.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.model_groupShow .model_perGroupShow{
	position:relative;
	width:100%;
	height:calc(100% - 55px);
	border:solid 1px #6590b7;
	overflow:auto;
}

.modelContainer .model_titleItem:hover
{
	cursor: pointer;
}

.modelContainer .model_delete
{
	position: relative;
	float: left;
	left:calc(100% - 40px);
	width: 32px;
	height: 32px;
	margin-top:-35px;
	border:solid 1px rgba(255,255,255,0.01);
	background-repeat: no-repeat;
	background-size: 100%;
	background-image:url(../../assets/image/tool/remove-normal.png);
}

.modelContainer .model_edit
{
	position: relative;
	float: left;
	left:calc(100% - 70px);
	width: 18px;
	height: 20px;
	margin-top:-28px;
	border:solid 1px rgba(255,255,255,0.01);
	background-repeat: no-repeat;
	background-size: 100%;
	background-image:url(../../assets/image/tool/edit.png);
}


.modelContainer .model_titleItem .model_leftText
{
	position: absolute;
	width:100px;
	line-height:30px;
}
.modelContainer .model_edit:hover{
	cursor: pointer;
}
.modelContainer .model_delete:hover{
	cursor: pointer;
}
.modelContainer .model_titleItem .model_listBox
{
	position:absolute;
	width: 100px;	
	height: 62px;
	z-index: 999;
	margin-top: 30px;
	box-sizing:border-box;
	border:solid 1px #6a859c;
	
}
.modelContainer .model_titleItem .model_listBox .model_listItem
{
	position:relative;
	width: 98px;
	height:30px;	
	line-height: 30px;
	color:white;
	background-color: rgba(13,25,42,0.9);
	z-index: 999;
	
}
.modelContainer .model_titleItem .model_listBox .model_listItem:hover
{
	cursor: pointer;
	background-image: url(../../assets/image/tool/marktool/lineselect.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.drag_Icon
{
	position:absolute;	
	float:left;
	width:30px;
	height:30px;
	display:flex;
	z-index:999;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.mapNote_table{
	width: 100%;
    color: white;
}
.mapNote_table_fontColor{
    width: 89px;
    border: 0px;
    padding: 0px;
    height: 26px;
    background: rgba(255,255,255,0.01);
}
.mapNote_table_fontSize{
	width: 82px;
	background-color: rgba(104,101,120,0.5);
	color:white;
	text-align: center;
}
.mapNote_table_fontSize:hover{
	border-collapse: separate;
    border-spacing: 2px;
	background-color: rgba(104,101,120,0.8);
}
.mapNote_table_td1{
	height: 32px;
    border-bottom: solid 1px #6a859c;
    border-right: solid 1px #6a859c;
}
.mapNote_table_td2{
	height: 32px;
	border-bottom: solid 1px #6a859c;
}
.mapNote_table_tr{
	height: 32px;
	border:solid 1px #6a859c;
}
.mapNote_table_save{
	width:18px;
}
.mapNote_table_drawDiv{
	float: right;
    height: 24px;
    margin-left: -2px;
    margin-right: 11px;
    width: 24px;
    color: black;
	/* background: #dbe8f8; */
	background:transparent;
	font-size: 12px;
    border-radius: 1px;
    /* border: 2px solid #cccccc; */
	font-family: "微软雅黑";
	cursor: pointer;
	background-image:url(../../assets/image/mapnote/shoubing.png);
	background-size: 100%;
	border: solid 1px #1b2b40;
}
.mapNote_table_drawDiv:hover{
	/* background-color: rgba(104,101,120,0.5); */
	border: solid 1px #554f72;
}
.mapNote_table_saveDiv{
	float: right;
    height: 24px;
    margin-left: -2px;
    margin-right: 11px;
    width: 24px;
    color: black;
	/* background: #dbe8f8; */
	background:transparent;
	font-size: 12px;
    border-radius: 1px;
    /* border: 2px solid #cccccc; */
	font-family: "微软雅黑";
	cursor: pointer;
	background-image:url(../../assets/image/mapnote/save.png);
	background-size: 100%;
	border: solid 1px #1b2b40;
}
.mapNote_table_saveDiv:hover{
	/* background-color: rgba(104,101,120,0.5); */
	border: solid 1px #554f72d;
}
.mapNote_table_select{
	height: 20px;
    width: 85px;
    border: 0px;
    background-color: rgba(104,101,120,0.5);
    color: white;	
}
.mapNote_table_titleFont{
	font-size: 15px;
	color: white;
}
